{% extends "base.html" %}
{% block script %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var userlist_request = function() {
        $('#update_button').html('Update chatlist [<i class="fa fa-refresh fa-spin"></i>]');
        $.getJSON("{{ url_for('main.get_chatlist') }}", function(data) {
            for (var i = 0, chatlist = '', title; i < data.chatlist.length; i++) {
                title = data.chatlist[i];
                chatlist += '<div class="chat_link_row form-group">\
                                 <a class="chat_link btn col-md-9 col-xs-9" href="/chat/' + title + '">Join the "' + title + '" chat</a>\
                                 <a class="decline_link btn col-md-3 col-xs-3" href="/decline_chat/' + title + '">Remove</a>\
                             </div>\n';
            }
            $('#update_button').text('Update chatlist [' + data.chatlist.length + ']');
            $('#chatlist').html(chatlist);
        });
    };
    
    userlist_request();
    
    $('#update_button').bind('click', function() {
        userlist_request();
    });
});
</script>
{% endblock %}
{% block content %}
<div class="vertical-center">
    <div class="container">
        <form class="form-group" method=post action="{{ url_for('main.chat_creation') }}">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="col-md-9">{{ form.title }}</div>
            <div class="col-md-3"><input type=submit id="submit_button" value="Create chat" class="btn margin_bottom" /></div>
        </form>
        <button id="update_button" class="btn btn-block">Update chatlist [<i class="fa fa-refresh fa-spin"></i>]</button>
        <div id="chatlist" class="container"></div>
    </div>
</div>
{% endblock %}